.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fffefc;
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    max-height: 90vh;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}